body {
	background-color: black;
}

header {
	background-image: url('../img/arvores.jpg');
	height: 100vh;
}

body nav {
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	justify-content: space-between;
	padding: 0 100px 0 100px;
}

body nav img {
	width: 200px;
	height: 55px;
	margin: 20px;
}

body nav ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	width: 43vw;
	color: black;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}
