/* Navbar e Cabeçalhos */

body {
	background-color: #d6fff1;
	color: #368a68;
}

header {
	background-image: url('../img/arvores.jpg');
	height: 100vh;
}

body nav {
	background-color: rgba(255, 255, 255, 0.7);
	display: flex;
	justify-content: space-between;
	padding: 0 100px 0 100px;
}

body nav img {
	width: 297px;
	height: 78px;
	margin: 20px;
}

body nav ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	width: 43vw;
	color: black;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
}

/* Trabalhos Recentes */

#trabalhos {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#trabalhos h2 {
	margin: 40px 0 40px 0;
}

.galeria {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.galeria img {
	width: 33.33%;
}

.button {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #368a68;
	color: white;
	font-size: 1.2rem;
	padding: 0.6rem 1.4rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	line-height: 1.5;
	text-decoration: none;
	margin: 35px 0 35px 0;
}

/* Depoimentos */

#depoimentos {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#depoimentos h2 {
	font-size: 1.7rem;
}

#depoimentos img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

#depoimentos p {
	color: black;
	width: 60vw;
	font-size: 1rem;
	text-align: center;
	line-height: 2rem;
}

#depoimentos h4 {
	color: black;
}

/* Em Destaque */

#destaques {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#destaques h2 {
	margin: 40px 0 40px 0;
}

.galeria-destaques {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 0 40px 0;
}

.galeria-destaques img {
	width: 33.33%;
}

/* Formulário */

#formulario {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#formulario input {
	border-style: dotted;
	background-color: white;
	color: white;
	border-radius: 15px;
	border-color: #368a68;
	width: 30vw;
	height: 3vw;
	text-align: center;
}

/* Mudar a cor do placeholder */
::placeholder {
	color: #368a68;
}

/* Footer */

footer {
	display: flex;
	justify-content: space-around;
	color: black;
	background-color: #92d1bc;
	padding: 0 0 50px 0;
	font-family: Arial, Helvetica, sans-serif;
}

footer h6 {
	margin: 45px 0 45px 0;
	font-size: 1rem;
	line-height: 1px;
}

footer .sobre .conteudo {
	display: flex;
}

footer .sobre .conteudo img {
	width: 20vw;
}

footer .sobre .conteudo .descricao {
	margin: 0 0 20px 40px;
	width: 40vw;
	line-height: 2rem;
}

footer .button.black {
	color: black;
}
