/* Navbar e Cabeçalhos */

body {
	background-color: #ebe7cf;
	color: #a08f19;
}

header {
	background-image: url('../img/arvores.jpg');
	height: 100vh;
}

body nav {
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	justify-content: space-between;
	padding: 0 100px 0 100px;
}

body nav img {
	width: 200px;
	height: 55px;
	margin: 20px;
}

body nav ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	width: 43vw;
	color: black;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}

/* Trabalhos Recentes */

#trabalhos {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#trabalhos h2 {
	margin: 40px 0 40px 0;
}

.galeria {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.galeria img {
	width: 33.33%;
}

.button {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #a08f19;
	color: white;
	font-size: 1.2rem;
	padding: 0.6rem 1.4rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	line-height: 1.5;
	text-decoration: none;
	margin: 35px 0 35px 0;
}

/* Depoimentos */

#depoimentos {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#depoimentos h2 {
	font-size: 1.7rem;
}

#depoimentos img {
	border-radius: 50%;
}

#depoimentos p {
	color: black;
	width: 60vw;
	font-size: 1rem;
	text-align: center;
	line-height: 2rem;
}

#depoimentos h4 {
	color: black;
}

/* Em Destaque */
